USE [master]
GO
/****** Object:  Database [Dtb_NhaSach]    Script Date: 11/17/2020 9:53:59 PM ******/
CREATE DATABASE [Dtb_NhaSach]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Dtb_NhaSach', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Dtb_NhaSach.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Dtb_NhaSach_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Dtb_NhaSach_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Dtb_NhaSach].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Dtb_NhaSach]
GO
/****** Object:  User [thu3]    Script Date: 11/17/2020 9:53:59 PM ******/
CREATE USER [thu3] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/17/2020 9:54:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 11/17/2020 9:54:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MaSach] [nchar](10) NOT NULL,
	[SoHD] [int] NOT NULL,
	[SoLuongBan] [int] NULL,
	[Gia] [float] NULL,
 CONSTRAINT [PK_CHITIETHOADON] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC,
	[SoHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 11/17/2020 9:54:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[SoHD] [int] NOT NULL,
	[MaNV] [nchar](10) NULL,
	[NgayBan] [date] NULL,
	[TenKh] [nvarchar](50) NULL,
	[MaTv] [int] NULL,
	[ThanhTien] [float] NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[SoHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 11/17/2020 9:54:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [nchar](10) NOT NULL,
	[TenNV] [nvarchar](50) NULL,
	[NgSinh] [date] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [nchar](20) NULL,
	[Luong] [float] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NXB]    Script Date: 11/17/2020 9:54:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NXB](
	[MaNXB] [nchar](10) NOT NULL,
	[TenNXB] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[DienThoai] [nchar](20) NULL,
 CONSTRAINT [PK_NXB] PRIMARY KEY CLUSTERED 
(
	[MaNXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 11/17/2020 9:54:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[Stt] [int] NOT NULL,
	[MaSach] [nchar](10) NOT NULL,
	[TenSach] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[MaTL] [nchar](10) NOT NULL,
	[MaNXB] [nchar](10) NOT NULL,
	[MaTG] [nchar](10) NOT NULL,
	[GiaBan] [int] NOT NULL,
 CONSTRAINT [PK_SACH] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TACGIA]    Script Date: 11/17/2020 9:54:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TACGIA](
	[MaTG] [nchar](10) NOT NULL,
	[TenTG] [nvarchar](50) NULL,
 CONSTRAINT [PK_TACGIA] PRIMARY KEY CLUSTERED 
(
	[MaTG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 11/17/2020 9:54:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TaiKhoan] [nchar](10) NOT NULL,
	[MatKhau] [nchar](20) NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THANHVIEN]    Script Date: 11/17/2020 9:54:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANHVIEN](
	[MaTv] [int] NULL,
	[TenTv] [nvarchar](50) NULL,
	[NgaySinh] [datetime] NULL,
	[Sdt] [nchar](10) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[DiemTichLuy] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THELOAI]    Script Date: 11/17/2020 9:54:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THELOAI](
	[MaTL] [nchar](30) NOT NULL,
	[TenTL] [nvarchar](50) NULL,
 CONSTRAINT [PK_THELOAI] PRIMARY KEY CLUSTERED 
(
	[MaTL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHITIETHOADON] ([MaSach], [SoHD], [SoLuongBan], [Gia]) VALUES (N'CDKLCN05  ', 100002, 1, 20000)
INSERT [dbo].[CHITIETHOADON] ([MaSach], [SoHD], [SoLuongBan], [Gia]) VALUES (N'CLDR25    ', 100001, 2, 40000)
INSERT [dbo].[CHITIETHOADON] ([MaSach], [SoHD], [SoLuongBan], [Gia]) VALUES (N'HIR31     ', 100003, 1, 50000)
GO
INSERT [dbo].[HOADON] ([SoHD], [MaNV], [NgayBan], [TenKh], [MaTv], [ThanhTien]) VALUES (100001, N'1         ', CAST(N'2020-12-01' AS Date), N'Hari', 1, 110000)
INSERT [dbo].[HOADON] ([SoHD], [MaNV], [NgayBan], [TenKh], [MaTv], [ThanhTien]) VALUES (100002, N'1         ', CAST(N'2020-12-02' AS Date), N'Hisoka', 3, 20000)
INSERT [dbo].[HOADON] ([SoHD], [MaNV], [NgayBan], [TenKh], [MaTv], [ThanhTien]) VALUES (100003, N'2         ', CAST(N'2020-12-02' AS Date), N'Qi', 2, 50000)
GO
INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [NgSinh], [DiaChi], [SDT], [Luong]) VALUES (N'1         ', N'Hải', CAST(N'2000-10-27' AS Date), N'Ben Tre', N'0968951201          ', 3000000)
INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [NgSinh], [DiaChi], [SDT], [Luong]) VALUES (N'2         ', N'Quỳnh', CAST(N'1995-02-28' AS Date), N'Da Lat', N'0908776424          ', 3000000)
GO
INSERT [dbo].[NXB] ([MaNXB], [TenNXB], [DiaChi], [DienThoai]) VALUES (N'C2010     ', N'Nhà Xuất Bản Cengage', N'Quận 1', N'0909876421          ')
INSERT [dbo].[NXB] ([MaNXB], [TenNXB], [DiaChi], [DienThoai]) VALUES (N'CTQG2010  ', N'Nhà Xuất Bản Chính Trị Quốc Gia Sự Thật', N'Quận 2', N'0908765212          ')
INSERT [dbo].[NXB] ([MaNXB], [TenNXB], [DiaChi], [DienThoai]) VALUES (N'DHQGHN2010', N'Nhà Xuất Bản Đại Học Quốc Gia Hà Nội', N'Quận 5', N'0907264124          ')
GO
INSERT [dbo].[SACH] ([Stt], [MaSach], [TenSach], [SoLuong], [MaTL], [MaNXB], [MaTG], [GiaBan]) VALUES (1, N'1987R17   ', N'1987 Rồi', 30, N'NTGT1020  ', N'HN2010    ', N'LDP16     ', 100000)
INSERT [dbo].[SACH] ([Stt], [MaSach], [TenSach], [SoLuong], [MaTL], [MaNXB], [MaTG], [GiaBan]) VALUES (2, N'301CDTTH33', N'301 Câu Đàm Thoại Tiếng Hoa', 50, N'SNN1020   ', N'KHXH2010  ', N'TVG29     ', 50000)
INSERT [dbo].[SACH] ([Stt], [MaSach], [TenSach], [SoLuong], [MaTL], [MaNXB], [MaTG], [GiaBan]) VALUES (3, N'BACNP22   ', N'Bí Ẩn Của Não Phải', 60, N'PTTT1020  ', N'TH2010    ', N'GSMS21    ', 60000)
GO
INSERT [dbo].[TACGIA] ([MaTG], [TenTG]) VALUES (N'ADB08     ', N'Alain de Botton')
INSERT [dbo].[TACGIA] ([MaTG], [TenTG]) VALUES (N'BC22      ', N'Barbara Coloroso')
INSERT [dbo].[TACGIA] ([MaTG], [TenTG]) VALUES (N'BGDVDT26  ', N'Bộ Giáo dục và Đào tạo')
GO
INSERT [dbo].[TAIKHOAN] ([TaiKhoan], [MatKhau]) VALUES (N'1         ', N'123456              ')
INSERT [dbo].[TAIKHOAN] ([TaiKhoan], [MatKhau]) VALUES (N'2         ', N'123456              ')
GO
INSERT [dbo].[THANHVIEN] ([MaTv], [TenTv], [NgaySinh], [Sdt], [DiaChi], [DiemTichLuy]) VALUES (1, N'Hari', CAST(N'2000-01-01T00:00:00.000' AS DateTime), N'0909888481', N'Thủ Đức', 1000)
INSERT [dbo].[THANHVIEN] ([MaTv], [TenTv], [NgaySinh], [Sdt], [DiaChi], [DiemTichLuy]) VALUES (2, N'Qi', CAST(N'2000-02-02T00:00:00.000' AS DateTime), N'0938294718', N'Quận 9', 500)
INSERT [dbo].[THANHVIEN] ([MaTv], [TenTv], [NgaySinh], [Sdt], [DiaChi], [DiemTichLuy]) VALUES (3, N'Hisoka', CAST(N'2000-03-03T00:00:00.000' AS DateTime), N'0948298748', N'Quận 2', 1500)
GO
INSERT [dbo].[THELOAI] ([MaTL], [TenTL]) VALUES (N'CT1020                        ', N'Chính trị')
INSERT [dbo].[THELOAI] ([MaTL], [TenTL]) VALUES (N'HK1020                        ', N'Hồi ký')
INSERT [dbo].[THELOAI] ([MaTL], [TenTL]) VALUES (N'KT1020                        ', N'Kinh tế')
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_HOADON] FOREIGN KEY([SoHD])
REFERENCES [dbo].[HOADON] ([SoHD])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_HOADON]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_NXB] FOREIGN KEY([MaNXB])
REFERENCES [dbo].[NXB] ([MaNXB])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_NXB]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_TACGIA] FOREIGN KEY([MaTG])
REFERENCES [dbo].[TACGIA] ([MaTG])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_TACGIA]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_NHANVIEN] FOREIGN KEY([TaiKhoan])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_NHANVIEN]
GO
/****** Object:  StoredProcedure [dbo].[dangnhap]    Script Date: 11/17/2020 9:54:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[dangnhap]
	@taikhoan nchar(10),
	@matkhau nchar(20)

AS
	
BEGIN
	DECLARE @pass nchar(20)
	select     *
	from     TAIKHOAN
	where    @taikhoan = TaiKhoan and @matkhau = MatKhau

if @@rowcount = 0    -- Invalid user
    return (-1)

if @matkhau + N'X' <> @pass + N'X'    -- Invalid password
    return (-2)

return (1) 
END
GO
/****** Object:  StoredProcedure [dbo].[LOADFRMBOOK]    Script Date: 11/17/2020 9:54:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[LOADFRMBOOK]
AS
BEGIN
	SELECT S.MaSach, S.TenSach, S.SoLuong,TL.MaTL, TL.TenTL,NXB.MaNXB, NXB.TenNXB, TG.MaTG,TG.TenTG, CTHD.SoHD, CTPN.SoPN,
		CTHD.Gia AS GIABAN, CTPN.Gia AS GIANHAP, 
		(CTPN.SoLuongNhap - CTHD.SoLuongBan) AS Soluongton
	FROM SACH S, THELOAI TL, NXB, TACGIA TG, CHITIETHOADON CTHD, CHITIETPHIEUNHAP CTPN
	WHERE S.MaTL = TL.MaTL 		
		AND S.MaTG = TG.MaTG 
		AND S.MaNXB = NXB.MaNXB
		AND S.MaSach = CTHD.MaSach 
		AND S.MaSach = CTPN.MaSach
END
GO
/****** Object:  StoredProcedure [dbo].[UPDATEGIAHD]    Script Date: 11/17/2020 9:54:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[UPDATEGIAHD]
AS
BEGIN
	DECLARE @TEMP FLOAT

	SELECT @TEMP = SUM(C.Gia*C.SoLuongBan)
	FROM CHITIETHOADON C, HOADON H
	WHERE H.SoHD = C.SoHD AND C.SoHD = '100004'

	UPDATE HOADON
	SET ThanhTien = @TEMP
	WHERE HOADON.SoHD = '100004'
END
GO
/****** Object:  StoredProcedure [dbo].[UPDATEGIAPN]    Script Date: 11/17/2020 9:54:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[UPDATEGIAPN]
AS
BEGIN
	DECLARE @TEMP FLOAT
	SELECT @TEMP = SUM(C.Gia * C.SoLuongNhap)
	FROM CHITIETPHIEUNHAP C, PHIEUNHAP P
	WHERE C.SoPN = P.SoPN AND P.SoPN = 'PN05'

	UPDATE PHIEUNHAP
	SET ThanhTien = @TEMP
	WHERE PHIEUNHAP.SoPN = 'PN05'
END
GO
/****** Object:  StoredProcedure [dbo].[UPDATESACH]    Script Date: 11/17/2020 9:54:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[UPDATESACH]
	@masach nchar(10),
	@tensach nvarchar(50),
	@soluong int,
	@matl nchar(10),
	@matg nchar(10),
	@manxb nchar(10)
AS
BEGIN
	UPDATE SACH
	SET MaSach=@masach,TenSach = @tensach, SoLuong = @soluong, MaNXB = @manxb, MaTG = @matg, MaTL = @matl
END
GO
USE [master]
GO
